.section-roadmap {
  background-image: url(../../assets/bg/roadmap.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 100%;
  position: relative;
  width: 100%;
}

.art-position {
  position: absolute;
  top: 0;
}

.phase-1 {
  position: absolute;
  width: 50%;
  left: 40%;
  top: 35.5%;
  transform: translate(-50%, -50%);
}

.phase-2 {
  position: absolute;
  width: 50%;
  left: 40%;
  top: 50.5%;
  transform: translate(-50%, -50%);
}

.phase-3 {
  position: absolute;
  width: 50%;
  left: 40%;
  top: 66.3%;
  transform: translate(-50%, -50%);
}

.phase-4 {
  position: absolute;
  width: 50%;
  left: 40%;
  top: 76.5%;
  transform: translate(-50%, -50%);
}

.phase-5 {
  position: absolute;
  width: 50%;
  left: 40%;
  top: 83.3%;
  transform: translate(-50%, -50%);
}

.phase-6 {
  position: absolute;
  width: 50%;
  left: 40%;
  top: 90%;
  transform: translate(-50%, -50%);
}

.title-roadmap {
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
}
