/* .section-team {
  position: relative;
  background: url(../../assets/bg-team.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
} */

.title-team {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#content-wrapper {
  display: block;
  width: 100%;
  background: url(../../assets/bg/team.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

#row-top {
  color: #fff;
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}

#row-bottom {
  display: block;
  width: 100%;
  height: auto;
  flex: 1;
}

.icon-team1{
  background: rgb(123 178 253 / 90%);
  padding: 1rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .5s;
  opacity: 0;
}

.icon-team2{
  background: rgb(82 222 231 / 90%);
  padding: 1rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .5s;
  opacity: 0;
}

.icon-team3{
  background: rgb(242 158 82 / 90%);
  padding: 1rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .5s;
  opacity: 0;
}

.icon-team4{
  background: rgb(245 134 134 / 90%);
  padding: 1rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .5s;
  opacity: 0;
}

.icon-team5{
  background: rgb(222 214 123 / 90%);
  padding: 1rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .5s;
  opacity: 0;
}

.icon-team6{
  background: rgb(115 217 148 / 90%);
  padding: 1rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .5s;
  opacity: 0;
}

.icon-team7{
  background: rgb(222 82 239 / 90%);
  padding: 1rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .5s;
  opacity: 0;
}

.icon-team8{
  background: rgb(242 232 64 / 90%);
  padding: 1rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .5s;
  opacity: 0;
}

.img-container {
  width: 100%;
  cursor: pointer;
  overflow: hidden;
}
.img-container:hover .img-content-hover {
  display: block;
}
.img-hov {
  width: 100%;
  height: 500px;
  object-fit: cover;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}
.img-hov:hover {
  transform: scale(1.05);
}
.img-content-hover {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  display: none;
  padding: 1rem;
  background: #fff;
  font-weight: 400;
  margin-top: 1.25rem;
  margin-left: -2rem;
}
.img-content {
  display: none;
}
.team-box-desktop {
  display: flex;
}
.team-box-mobile {
  display: none;
}
@media screen and (max-width: 1024px) {
  img:hover {
    transform: none;
 }
  .img-container {
    height: 100%;
 }
  .img-container:hover .img-content-hover {
    display: none;
 }
  .img-content {
    display: block;
    padding: 1rem 0;
 }
}
@media only screen and (max-width: 992px) {
  .team-title {
    height: 40vw;
    margin-top: 10vh;
  }
  .sm-set {
    width: 50% !important;
  }
  .team-box-desktop {
    display: none;
  }
  .team-box-mobile {
    display: block;
    height: 100%;
  }
  #content-wrapper {
    background: url(../../assets/bg/team-mobile.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}
