.section-collab {
  position: relative;
  background: url(../../assets/bg/collection.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
}

.title-collab{
    position: absolute;
    top: 20%;
    left: 30%;
    transform: translate(-50%, -50%);
}